@charset "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

*{
    font-family : 'Nanum Gothic';
}

h1{
    font-family : 'Hanna';    
}


/* 네비게이션 마우스 올라가면 배경색 변경 */
#naviCategory *:hover{
    background-color: #99CC99;
}


/* 댓글 테이블의 + - 버튼 */
#commentTable td img{
    max-width: 30%;
    width : 3em;
    margin-left :5px;
    margin-right : 5px;
    cursor:pointer;

}

/* + - 버튼에 마우스 올리면 테두리 표시 */
.modifyBtn:hover, .minusBtn:hover{
    border-radius: 100%;
    border : 3px solid black;
}

.choice{
    font-size: 3rem;
}